@import url('https://fonts.googleapis.com/css2?family=PT+Mono&display=swap');

*{
    margin:0;
}

html{
    scroll-behavior: smooth;
}

body{
    color: #865F5F;
    font-family: 'PT Mono', monospace;
}
.title{
    text-align: center;
    margin:50px;
}

.section{
    padding-top: 15px;
    padding-bottom: 40px;
}

.section-bis{
    padding-top: 20px;
    padding-bottom: 20px;
}

 /* ----------Navbar desktop ------------  */


.header{
    font-weight: bold;
    background-color: #FFE6E6;
    padding: 40px;
    text-align: right;
}
.header a{
    color: #865F5F;
    text-decoration: none;
}

nav a.hoverMenu:hover{
    color:#5C4040;
    border-bottom: 1px solid #5C4040;
}



ul.listhead{  
    /* reset du style des listes  */
    list-style-type: none;
    margin: 0;
    padding: 0;   
    /* Alignement vertical et horizontal des enfants de ul */ 
    display: flex;
    align-items: center;
    justify-content: space-evenly; 
}

ul.listhead li a{
    color: #865F5F;
    text-decoration: none;
    font-size: 1.3rem;
    font-weight: 700;
} 

ul.topnav li a:hover, #burger:hover{
    color: #9C7854;
} 


#accept, #custom {
    cursor: pointer; 
} 

#menu > li{
    padding: 15px;
} 


#burger{
    display: none;
    cursor: pointer;
    color: #9C7854;
    font-size: 1.5rem;
    font-weight: 700;
}



/* -----------  section 1  ------------- */


ul {
margin: 0;
padding: 0;
list-style: none;
}

a {
color: #865F5F;
text-decoration: none;
}

.btn {
display: inline-block;
text-transform: uppercase;
text-decoration: underline;
margin-top: 340px; 
font-size: 0.7em;
padding: 0.1em 0.4em;
text-align: center;
-webkit-transition: color 0.3s, border-color 0.3s;
-moz-transition: color 0.3s, border-color 0.3s;
transition: color 0.3s, border-color 0.3s;
}

.btn:hover {
border-color: #865F5F;
color: #865F5F;
}

/* basic grid, only for this demo */

.align {
clear: both;
margin: 45px auto 45px;
width: 100%;
max-width: 1170px;
text-align: center;
}

.align > li {
width: 500px;
min-height: 300px;
display: inline-block;
margin: 30px -300px 30px 30px;
padding: 0 0 0 60px;
vertical-align: top;
}

.aboutme{
    transform: scale(-1,1);
    margin-right: 2em;
    margin-left: 3em;
    margin-top: 2rem;
}

/* ///////////////////////////////////////////////////

HARDCOVER
Table of Contents

1. container
2. background & color
3. opening cover, back cover and pages
4. position, transform y transition
5. events
6. Bonus
- Cover design
- Ribbon
- Figcaption
7. mini-reset

/////////////////////////////////////////////////////*/

/*
1. container
*/

.book {
position: relative;
width: 440px; 
height: 510px;
-webkit-perspective: 1000px;
-moz-perspective: 1000px;
perspective: 1000px;
-webkit-transform-style: preserve-3d;
-moz-transform-style: preserve-3d;
transform-style: preserve-3d;
}

/*
2. background & color
*/

/* HARDCOVER FRONT */
.hardcover_front li:first-child {
background-color: #eee;
-webkit-backface-visibility: hidden;
-moz-backface-visibility: hidden;
backface-visibility: hidden;
}

/* reverse */
.hardcover_front li:last-child {
background: #fffbec;
}

/* HARDCOVER BACK */
.hardcover_back li:first-child {
background: #fffbec;
}

/* reverse */
.hardcover_back li:last-child {
background: #fffbec;
}

.book_spine li:first-child {
background: #eee;
}
.book_spine li:last-child {
background: #333;
}

/* thickness of cover */

.hardcover_front li:first-child:after,
.hardcover_front li:first-child:before,
.hardcover_front li:last-child:after,
.hardcover_front li:last-child:before,
.hardcover_back li:first-child:after,
.hardcover_back li:first-child:before,
.hardcover_back li:last-child:after,
.hardcover_back li:last-child:before,
.book_spine li:first-child:after,
.book_spine li:first-child:before,
.book_spine li:last-child:after,
.book_spine li:last-child:before {
background: #999;
}

/* page */

.page > li {
background: -webkit-linear-gradient(left, #e1ddd8 0%, #fffbf6 100%);
background: -moz-linear-gradient(left, #e1ddd8 0%, #fffbf6 100%);
background: -ms-linear-gradient(left, #e1ddd8 0%, #fffbf6 100%);
background: linear-gradient(left, #e1ddd8 0%, #fffbf6 100%);
box-shadow: inset 0px -1px 2px rgba(50, 50, 50, 0.1), inset -1px 0px 1px rgba(150, 150, 150, 0.2);
border-radius: 0px 5px 5px 0px;
}

/*
3. opening cover, back cover and pages
*/

.hardcover_front {
-webkit-transform: rotateY(-34deg) translateZ(8px);
-moz-transform: rotateY(-34deg) translateZ(8px);
transform: rotateY(-34deg) translateZ(8px);
z-index: 100;
}

.hardcover_back {
-webkit-transform: rotateY(-15deg) translateZ(-8px);
-moz-transform: rotateY(-15deg) translateZ(-8px);
transform: rotateY(-15deg) translateZ(-8px);
}

.page li:nth-child(1) {
-webkit-transform: rotateY(-28deg);
-moz-transform: rotateY(-28deg);
transform: rotateY(-28deg);
}

.page li:nth-child(2) {
-webkit-transform: rotateY(-30deg);
-moz-transform: rotateY(-30deg);
transform: rotateY(-30deg);
}

.page li:nth-child(3) {
-webkit-transform: rotateY(-32deg);
-moz-transform: rotateY(-32deg);
transform: rotateY(-32deg);
}

.page li:nth-child(4) {
-webkit-transform: rotateY(-34deg);
-moz-transform: rotateY(-34deg);
transform: rotateY(-34deg);
}

.page li:nth-child(5) {
-webkit-transform: rotateY(-36deg);
-moz-transform: rotateY(-36deg);
transform: rotateY(-36deg);
}

/*
4. position, transform & transition
*/

.hardcover_front,
.hardcover_back,
.book_spine,
.hardcover_front li,
.hardcover_back li,
.book_spine li {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
-webkit-transform-style: preserve-3d;
-moz-transform-style: preserve-3d;
transform-style: preserve-3d;
}

.hardcover_front,
.hardcover_back {
-webkit-transform-origin: 0% 100%;
-moz-transform-origin: 0% 100%;
transform-origin: 0% 100%;
}

.hardcover_front {
-webkit-transition: all 0.8s ease, z-index 0.6s;
-moz-transition: all 0.8s ease, z-index 0.6s;
transition: all 0.8s ease, z-index 0.6s;
}

/* HARDCOVER front */
.hardcover_front li:first-child {
cursor: default;
-webkit-user-select: none;
-moz-user-select: none;
user-select: none;
-webkit-transform: translateZ(2px);
-moz-transform: translateZ(2px);
transform: translateZ(2px);
}

.hardcover_front li:last-child {
-webkit-transform: rotateY(180deg) translateZ(2px);
-moz-transform: rotateY(180deg) translateZ(2px);
transform: rotateY(180deg) translateZ(2px);
}

/* HARDCOVER back */
.hardcover_back li:first-child {
-webkit-transform: translateZ(2px);
-moz-transform: translateZ(2px);
transform: translateZ(2px);
}

.hardcover_back li:last-child {
-webkit-transform: translateZ(-2px);
-moz-transform: translateZ(-2px);
transform: translateZ(-2px);
}

/* thickness of cover */
.hardcover_front li:first-child:after,
.hardcover_front li:first-child:before,
.hardcover_front li:last-child:after,
.hardcover_front li:last-child:before,
.hardcover_back li:first-child:after,
.hardcover_back li:first-child:before,
.hardcover_back li:last-child:after,
.hardcover_back li:last-child:before,
.book_spine li:first-child:after,
.book_spine li:first-child:before,
.book_spine li:last-child:after,
.book_spine li:last-child:before {
position: absolute;
top: 0;
left: 0;
}

/* HARDCOVER front */
.hardcover_front li:first-child:after,
.hardcover_front li:first-child:before {
width: 4px;
height: 100%;
}

.hardcover_front li:first-child:after {
-webkit-transform: rotateY(90deg) translateZ(-2px) translateX(2px);
-moz-transform: rotateY(90deg) translateZ(-2px) translateX(2px);
transform: rotateY(90deg) translateZ(-2px) translateX(2px);
}

.hardcover_front li:first-child:before {
-webkit-transform: rotateY(90deg) translateZ(158px) translateX(2px);
-moz-transform: rotateY(90deg) translateZ(158px) translateX(2px);
transform: rotateY(90deg) translateZ(158px) translateX(2px);
}

.hardcover_front li:last-child:after,
.hardcover_front li:last-child:before {
width: 4px;
height: 160px;
}

.hardcover_front li:last-child:after {
-webkit-transform: rotateX(90deg) rotateZ(90deg) translateZ(80px) translateX(-2px) translateY(-78px);
-moz-transform: rotateX(90deg) rotateZ(90deg) translateZ(80px) translateX(-2px) translateY(-78px);
transform: rotateX(90deg) rotateZ(90deg) translateZ(80px) translateX(-2px) translateY(-78px);
}
.hardcover_front li:last-child:before {
box-shadow: 0px 0px 30px 5px #333;
-webkit-transform: rotateX(90deg) rotateZ(90deg) translateZ(-140px) translateX(-2px) translateY(-78px);
-moz-transform: rotateX(90deg) rotateZ(90deg) translateZ(-140px) translateX(-2px) translateY(-78px);
transform: rotateX(90deg) rotateZ(90deg) translateZ(-140px) translateX(-2px) translateY(-78px);
}

/* thickness of cover */

.hardcover_back li:first-child:after,
.hardcover_back li:first-child:before {
width: 4px;
height: 100%;
}

.hardcover_back li:first-child:after {
-webkit-transform: rotateY(90deg) translateZ(-2px) translateX(2px);
-moz-transform: rotateY(90deg) translateZ(-2px) translateX(2px);
transform: rotateY(90deg) translateZ(-2px) translateX(2px);
}
.hardcover_back li:first-child:before {
-webkit-transform: rotateY(90deg) translateZ(158px) translateX(2px);
-moz-transform: rotateY(90deg) translateZ(158px) translateX(2px);
transform: rotateY(90deg) translateZ(158px) translateX(2px);
}

.hardcover_back li:last-child:after,
.hardcover_back li:last-child:before {
width: 4px;
height: 160px;
}

.hardcover_back li:last-child:after {
-webkit-transform: rotateX(90deg) rotateZ(90deg) translateZ(80px) translateX(2px) translateY(-78px);
-moz-transform: rotateX(90deg) rotateZ(90deg) translateZ(80px) translateX(2px) translateY(-78px);
transform: rotateX(90deg) rotateZ(90deg) translateZ(80px) translateX(2px) translateY(-78px);
}

.hardcover_back li:last-child:before {
box-shadow: 10px -1px 80px 20px #666;
-webkit-transform: rotateX(90deg) rotateZ(90deg) translateZ(-140px) translateX(2px) translateY(-78px);
-moz-transform: rotateX(90deg) rotateZ(90deg) translateZ(-140px) translateX(2px) translateY(-78px);
transform: rotateX(90deg) rotateZ(90deg) translateZ(-140px) translateX(2px) translateY(-78px);
}

/* BOOK SPINE */
.book_spine {
-webkit-transform: rotateY(60deg) translateX(-5px) translateZ(-12px);
-moz-transform: rotateY(60deg) translateX(-5px) translateZ(-12px);
transform: rotateY(60deg) translateX(-5px) translateZ(-12px);
width: 16px;
z-index: 0;
}

.book_spine li:first-child {
-webkit-transform: translateZ(2px);
-moz-transform: translateZ(2px);
transform: translateZ(2px);
}

.book_spine li:last-child {
-webkit-transform: translateZ(-2px);
-moz-transform: translateZ(-2px);
transform: translateZ(-2px);
}

/* thickness of book spine */
.book_spine li:first-child:after,
.book_spine li:first-child:before {
width: 4px;
height: 100%;
}


.book_spine li:last-child:after,
.book_spine li:last-child:before {
width: 4px;
height: 16px;
}


.page,
.page > li {
position: absolute;
top: 0;
left: 0;
-webkit-transform-style: preserve-3d;
-moz-transform-style: preserve-3d;
transform-style: preserve-3d;
}

.page {
width: 100%;
height: 98%;
top: 1%;
left: 3%;
z-index: 10;
}

.page > li {
width: 100%;
height: 100%;
-webkit-transform-origin: left center;
-moz-transform-origin: left center;
transform-origin: left center;
-webkit-transition-property: transform;
-moz-transition-property: transform;
transition-property: transform;
-webkit-transition-timing-function: ease;
-moz-transition-timing-function: ease;
transition-timing-function: ease;
}

.page > li:nth-child(1) {
-webkit-transition-duration: 0.6s;
-moz-transition-duration: 0.6s;
transition-duration: 0.6s;
} 

.page > li:nth-child(2) {
-webkit-transition-duration: 0.6s;
-moz-transition-duration: 0.6s;
transition-duration: 0.6s;
}

.page > li:nth-child(3) {
-webkit-transition-duration: 0.4s;
-moz-transition-duration: 0.4s;
transition-duration: 0.4s;
}

.page > li:nth-child(4) {
-webkit-transition-duration: 0.5s;
-moz-transition-duration: 0.5s;
transition-duration: 0.5s;
}

.page > li:nth-child(5) {
-webkit-transition-duration: 0.6s;
-moz-transition-duration: 0.6s;
transition-duration: 0.6s;
}

/*
5. events
*/

.book:hover > .hardcover_front {
-webkit-transform: rotateY(-145deg) translateZ(0);
-moz-transform: rotateY(-145deg) translateZ(0);
transform: rotateY(-145deg) translateZ(0);
z-index: 0;
}

.book:hover > .page li:nth-child(1) {
-webkit-transform: rotateY(-30deg);
-moz-transform: rotateY(-30deg);
transform: rotateY(-30deg);
-webkit-transition-duration: 1,5s;
-moz-transition-duration: 1.5s;
transition-duration: 1.5s;
}

.book:hover > .page li:nth-child(2) {
-webkit-transform: rotateY(-35deg);
-moz-transform: rotateY(-35deg);
transform: rotateY(-35deg);
-webkit-transition-duration: 1.8s;
-moz-transition-duration: 1.8s;
transition-duration: 1.8s;
}

.book:hover > .page li:nth-child(3) {
-webkit-transform: rotateY(-118deg);
-moz-transform: rotateY(-118deg);
transform: rotateY(-118deg);
-webkit-transition-duration: 1.6s;
-moz-transition-duration: 1.6s;
transition-duration: 1.6s;
}

.book:hover > .page li:nth-child(4) {
-webkit-transform: rotateY(-130deg);
-moz-transform: rotateY(-130deg);
transform: rotateY(-130deg);
-webkit-transition-duration: 1.4s;
-moz-transition-duration: 1.4s;
transition-duration: 1.4s;
}

.book:hover > .page li:nth-child(5) {
-webkit-transform: rotateY(-140deg);
-moz-transform: rotateY(-140deg);
transform: rotateY(-140deg);
-webkit-transition-duration: 1.2s;
-moz-transition-duration: 1.2s;
transition-duration: 1.2s;
}

/*
6. Bonus
*/

/* cover CSS */

.coverDesign {
position: absolute;
top: 0;
left: 0;
bottom: 0;
right: 0;
overflow: hidden;
-webkit-backface-visibility: hidden;
-moz-backface-visibility: hidden;
backface-visibility: hidden;
}

.coverDesign::after {
background-image: -webkit-linear-gradient( -135deg, rgba(255, 255, 255, 0.45) 0%, transparent 100%);
background-image: -moz-linear-gradient( -135deg, rgba(255, 255, 255, 0.45) 0%, transparent 100%);
background-image: linear-gradient( -135deg, rgba(255, 255, 255, 0.45) 0%, transparent 100%);
position: absolute;
top: 0;
left: 0;
bottom: 0;
right: 0;
}

.coverDesign h1 {
color: #fff;
font-size: 2.2em;
letter-spacing: 0.05em;
text-align: center;
margin: 54% 0 0 0;
text-shadow: -1px -1px 0 rgba(0,0,0,0.1);
}

.coverDesign p {
color: #f8f8f8;
font-size: 2em;
text-align: center;
text-shadow: -1px -1px 0 rgba(0,0,0,0.1);
margin-top: 4vh;
}

/* .yellow {
background-color: #f1c40f;
background-image: -webkit-linear-gradient(top, #f1c40f 58%, #e7ba07 0%);
background-image: -moz-linear-gradient(top, #f1c40f 58%, #e7ba07 0%);
background-image: linear-gradient(top, #f1c40f 58%, #e7ba07 0%);
} */

.blue {
background-color: #865F5F;
background-image: -webkit-linear-gradient(#865F5F 100%);
/* background-image: -moz-linear-gradient(top, #3498db 58%, #2a90d4 0%);
background-image: linear-gradient(top, #3498db 58%, #2a90d4 0%); */
}

.grey {
background-color: #f8e9d1;
background-image: -webkit-linear-gradient(top, #f8e9d1 58%, #e7d5b7 0%);
background-image: -moz-linear-gradient(top, #f8e9d1 58%, #e7d5b7 0%);
background-image: linear-gradient(top, #f8e9d1 58%, #e7d5b7 0%);
}

/* Basic ribbon */

.ribbon {
background: #c0392b;
color: #fff;
display: block;
font-size: 0.7em;
position: absolute;
top: 11px;
right: 1px;
width: 40px;
height: 20px;
line-height: 20px;
letter-spacing: 0.15em; 
text-align: center;
-webkit-transform: rotateZ(45deg) translateZ(1px);
-moz-transform: rotateZ(45deg) translateZ(1px);
transform: rotateZ(45deg) translateZ(1px);
-webkit-backface-visibility: hidden;
-moz-backface-visibility: hidden;
backface-visibility: hidden;
z-index: 10;
}

.ribbon::before,
.ribbon::after{
position: absolute;
top: -20px;
width: 0;
height: 0;
border-bottom: 20px solid #c0392b;
border-top: 20px solid transparent;
}

.ribbon::before{
left: -20px;
border-left: 20px solid transparent;
}

.ribbon::after{
right: -20px;
border-right: 20px solid transparent;
}

.picture{
    width:2em;
    height:3em;
    margin-left: 67px;
    margin-top:25px;

}

/* -----------  section 1 bis   ------------- */
.presentation-bis{
    display:none;
}


.image {
    width: 41em;
    background-image: url(../img/Elisa-Joudal-Portfolio.png);
    background-size: 15em;
    background-repeat: no-repeat;
    margin: 0 4px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.div-parent {
    display: flex;
    flex-direction: row;
    height: 20vh;
}

.text-pres{
    width: 60em;
    margin: 0 20px;
}

.btn1{
display: inline-block;
text-transform: uppercase;
text-decoration: underline;
margin-top: 3vh;
margin-bottom: 3vh;
font-size: 0.7em;
-webkit-transition: color 0.3s, border-color 0.3s;
-moz-transition: color 0.3s, border-color 0.3s;
transition: color 0.3s, border-color 0.3s;
}

.btn-download{
text-align: center;
}


.btn:hover {
border-color: #865F5F;
color: #865F5F;
}

/* -----------  section 2  ------------- */
.section2{
    background-color:#FFE6E6 ;
    width: 100%;
    height: 56em;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.insights-animation{
    position:absolute;
    background-color: #865F5F;
    width: 26em;
    height: 39em;
    border-radius: 20px;
    margin-top:20vh;
}

.bloc-experience{
    position: absolute;
    margin-top: 22vh;
}


/* .div-exp-date{
    display:flex;
} */

.exp-date{
    color: #fff;
    display: flex;
    flex-direction: column;
    padding: 3.3rem;
    align-items: flex-start;

}

.experience{
    background-color: #fff;
    width: 25em;
    height: 2.7em;
    border-radius: 18px;
    z-index: 1;
    /* position: relative; */
    /* margin: 31px;
    margin-left: 207px; */
    text-align: center;
    padding: 10px;
    position: absolute;
    overflow: hidden;
} 
.experience1 {
    top: 3em;
}
.experience2 {
    top: 12em;
}

.experience3 {
    top: 21em;
}

.experience4 {
    top: 30em;
}

.experience5 {
    top: 39em;
}

.experience{
    -webkit-transition: ease 0.5s all ;  /* Safari and Chrome */
    -moz-transition: all 0.5s ease; /* Firefox */
    -ms-transition: all 0.5s ease; /* IE 9 */
    -o-transition: all 0.5s ease; /* Opera */
    transition: all 0.5s ease;
}

.experience:hover {  
    width: 27em;  
    height: 9em;
    margin-top: -2em;
    margin-left: -1.5em;
}

.title-bold{
    font-weight: bold;
    color: #673F3F;
    font-size: 19px;
}
.experience,p{
    font-size: 13px;
}

.souligne{
    text-decoration: underline;
    margin-bottom: 0.8vh;
}
/* -----------  section 2 bis  ------------- */
.section2bis{
    display:none;
    background-color: #FFE6E6;
    width: 100%;
}

.insights-animation2{
    position:relative;
    background-color: #865F5F;
    width: 20em;
    height: 45em;
    border-radius: 20px;
}



.bloc-experience-bis{
    margin-top: 12vh;
    position: absolute;
    margin-left: 68px;
    margin-right: 363px;
} 

.experience-bis{
    background-color: #fff;
    width: 21em;
    height: 10em;
    border-radius: 18px;
    z-index: 1;
    text-align: center;
    padding: 10px;
    position: absolute;
    overflow: hidden;
} 


.experience1-bis {
    top: 3em;
}
.experience2-bis {
    top: 15em;
}

.experience3-bis {
    top: 27em;
}

.experience4-bis {
    top: 39em;
}

.experience5-bis {
    top: 51em;
} 

.title-bold-bis{
    font-weight: bold;
    color: #673F3F;
    font-size: 14px;
}
.experience-bis,p{
    font-size: 15px;
}

.souligne{
    text-decoration: underline;
    margin-bottom: 0.8vh;
} 

/* -----------  section 3  ------------- */



.section3{
    width: 100%;
}

.div-mere-scroll1{
    display:flex;
    flex-direction:row;
}

.div-mere-scroll2{
    display:flex;
    flex-direction:row;
}

.scroller{
    max-width: 100%;
    padding: 10px;
    display: grid;
    grid-auto-flow: column;
    column-gap: 1rem;
    overflow-x: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.scroller::-webkit-scrollbar{
    display: none;
}

.scroller-item{
    position:relative;
    height: 14rem;
    width: 14rem;
    border: 3px solid #151515;
    border-radius:50%;
    margin: 20px;
}



.scroller-item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.scroller-item img:hover{
    filter : brightness(30%);

}

.textDivItem{
    position: absolute;
    color: black;
    z-index: 3;
    transform: translate(-50%,-50%);
    display:none;
}

.scroller-item::before{
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width:calc(100% + 15px);
    height:calc(100% + 15px);
    background-image: linear-gradient(45deg, #f09433 0%, #FFE6E6 25%, #dc2743 50%, #5C4040 75%, #bc1888 100%);
    border-radius: inherit;
    z-index: -1;
}


/* -----------  section 4  ------------- */

.section4{
    display: flex;
    flex-direction: column;
    max-width: 100%;
    background-color: #FFE6E6;
}

.section4 > p {
    text-align: center
}

.skills{
    margin-top: 4vh;
    display: flex;
    margin-left: 8em;
}

.skills .name{
    display:flex;
    flex-direction: column;
    color: #865F5F;
    font-size: 1em;
    font-weight:400;
    padding:10px 20px;
}

.skills .name span{
    margin:16px 0;
    box-shadow:  9.91px 9.91px 15px #E8D1D1,  -3px -3px 15px #FFFBFB;
    padding:10px 20px;
    text-align: center;
    border-radius: 10px;
    border: 5px solid #FFE6E6;
    transition:0,2s;
    cursor: pointer;
}

.skills .name span:hover {
    color:#5C4040;
    box-shadow: inset 9.91px 9.91px 15px #E8D1D1, inset -9.91px -9.91px 15px #FFFBFB;
}

.bar-container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}


.bar{
    width:400px;
    height:30px;
    background-color: white;
    border-radius: 20px;
    box-shadow: inset -6px -6px 10px #d9dade, inset -6px -6px 10px #FFF;
}

.bar .progress {
    height: 100%;
    width:50%;
    background-color: #865F5F;
    border-radius: 20px;
    background:linear-gradient( to right, #865F5F, #A77E7E);
}

.bar:nth-child(1) .progress{
    width: 85%;
}
.bar:nth-child(2) .progress{
    width: 75%;
}

.bar:nth-child(3) .progress{
    width: 20%;
}

.bar:nth-child(4) .progress{
    width: 60%;
}

.bar:nth-child(5) .progress{
    width: 70%;
}

.div-front, .div-design{
    text-align: center;
    margin: 20px;
    font-size: 20px;
}


/* --------------Champs de competence --------------- */

.skills1{
    margin-top: 4vh;
    display: flex;
    justify-content: flex-end;
    margin-right: 9em;
}

.skills1 .name1{
    display:flex;
    flex-direction: column;
    color: #865F5F;
    font-size: 1em;
    font-weight:400;
    padding:10px 20px;
}

.skills1 .name1 span{
    margin:16px 0;
    box-shadow:  9.91px 9.91px 15px #E8D1D1,  -3px -3px 15px #FFFBFB;
    padding:10px 20px;
    text-align: center;
    border-radius: 10px;
    border: 5px solid #FFE6E6;
    transition:0,2s;
    cursor: pointer;
}

.skills1 .name1 span:hover {
    color:#5C4040;
    box-shadow: inset 9.91px 9.91px 15px #E8D1D1, inset -9.91px -9.91px 15px #FFFBFB;
}

.bar-container1{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}


.bar1{
    display: flex;
    justify-content: flex-end;
    width:400px;
    height:30px;
    background-color: white;
    border-radius: 20px;
    box-shadow: inset -6px -6px 10px #d9dade, inset -6px -6px 10px #FFF;
}

.bar1 .progress1 {
    height: 100%;
    width:50%;
    background-color: #865F5F;
    border-radius: 20px;
    background:linear-gradient( to right, #865F5F, #A77E7E);
}

.bar1:nth-child(1) .progress1{
    width: 85%;
}
.bar1:nth-child(2) .progress1{
    width: 75%;
}

.bar1:nth-child(3) .progress1{
    width: 20%;
}

.bar1:nth-child(4) .progress1{
    width: 60%;
}

.bar1:nth-child(5) .progress1{
    width: 70%;
}



/* -----------  section 5  ------------- */

.section5{
    display:flex;
    flex-direction: column;
    align-items: center;
}

.contact-bgdPink{
    display: flex;
    width: 55rem;
    height: 40rem;
    background-color: #FFE6E6;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border: 1px solid #865F5F;
}


.card {
    padding: 10px;
    transform: scale(0.8);
    filter: blur(calc(var(--card-height) /5));
    background-image: linear-gradient(var(--rotate), #FAEDED, #ED9292 43%,#7E4242);
    opacity: 1;
    transition: opacity .5s;
    animation: spin 3.5s linear infinite;
    border-radius: 10px;
}

@keyframes spin {
    0%{
        --rotate:0deg;
    }
    100%{
        --rotate:360deg;
    }
    
}

@property --rotate {
    syntax: "<angle>";
    initial-value: 132deg;
    inherits: false;
}



input{
    height: 3vh;
    width: 23em;
    margin-top: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 0.5px solid #865F5F;
}

#msg{
    height: 18vh;
    width: 23em;
    margin-top: 10px;
    margin-bottom: 50px;
    border-radius: 5px;
    border: 0.5px solid #865F5F;
}

.submit{
    height: 2rem;
    width: 8rem;
    border-radius: 9px;
    background-color: #865F5F;
    color: #fff;
}

.div-submit{
    display:flex;
    justify-content: center;
}

.myContact{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 37px;
}

.myContact > p {
    margin: 9px;
    font-size: 17px;
}


/* Media Queries */

/* --------Mobile---------  */
@media screen and (max-width: 768px) {

    /* navbar mobile  */


    #burger{
        display: block;
        cursor: pointer;
        color: #865F5F;
        font-size: 3rem;
        font-weight: 700; 
        margin-right: 30px;
        margin-bottom: 30px;
    }

    #iconBurger{
        color: #865F5F;
        position: absolute;
    }

    .title {
        margin: 30px;
    }


/* --------------  navbar  --------------  */
    ul.listhead{
        display:none;
    }

    ul.listhead.open{
        display: flex;
        flex-direction: column;
        text-align: center;
        position: absolute;
        width: 100vw;
        left: 0;
        background-color: #FFE6E6;
        } 


/* --------------  section 1--------------  */

.presentation{
    display:none;
}

.presentation-bis{
    display:block;
}

.div-parent {
    display: flex;
    flex-direction: row;
    height: 60vh;
}


/* --------------  section 2 --------------  */

.section2{
display:none;
}

.section2bis{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bloc-experience-bis {
    margin-top: 15vh;
    position: absolute;
    margin-left: 114px;
    margin-right: 363px;
}

.experience-bis,p{
    font-size:11px;
}

/* --------------  section 3 --------------  */

.container{
    display: none;
}

.scroller{
    max-width: 100%;
    padding: 10px;
    display: grid;
    grid-auto-flow: column;
    column-gap: 1rem;
    overflow-x: auto;
    justify-content: start;
}

.scroller::-webkit-scrollbar{
    display: none;
}

.scroller-item{
    position:relative;
    height: 10rem;
    width: 10rem;
    border: 3px solid #151515;
    border-radius:50%;
    margin: 12px;
}

.scroller-item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.scroller-item::before{
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width:calc(100% + 15px);
    height:calc(100% + 15px);
    background-image: linear-gradient(45deg, #f09433 0%, #FFE6E6 25%, #dc2743 50%, #5C4040 75%, #bc1888 100%);
    border-radius: inherit;
    z-index: -1;
}


/* --------------  section 4 --------------  */
/* .section4{
    height: 150vh;
} */
.skills {
    margin-top:0;
    display: flex;
    margin-left: 0;
}

.skills .name {
    display: flex;
    flex-direction: column;
    color: #865F5F;
    font-size: 1em;
    font-weight: 400;
    padding: 0px 10px;
}

.skills .name span {
    padding: 5px 1px;
}

.bar {
    width: 228px;
    height: 22px;
}

.skills1 {
    margin-top:0;
    display: flex;
    margin-left: 0;
    margin-right: 0;
}

.skills1 .name1 {
    display: flex;
    flex-direction: column;
    color: #865F5F;
    font-size: 1em;
    font-weight: 400;
    padding: 0px 10px;
}

.skills1 .name1 span {
    padding: 5px 1px;
}

.bar1 {
    width: 210px;
    height: 22px;
}



/* --------------  section 5 --------------  */


.contact-bgdPink {
    width: 22em;
}

}


/* --------tablette---------  */
@media screen and (max-width: 1023px) and (min-width: 767px){


    /* navbar tablette  */


#burger{
    display: block;
    cursor: pointer;
    color: #865F5F;
    font-size: 3rem;
    font-weight: 700; 
    margin-right: 30px;
    margin-bottom: 30px;
}

#iconBurger{
    color: #865F5F;
    position: absolute;
}




/* --------------  navbar  --------------  */
ul.listhead{
    display:none;
}

ul.listhead.open{
    display: flex;
    flex-direction: column;
    text-align: center;
    position: absolute;
    width: 100vw;
    left: 0;
    background-color: #FFE6E6;
    } 



    /* --------------  section 1--------------  */

    .presentation{
        display:none;
    }

    .presentation-bis{
        display:block;
    }

    .div-parent {
        height: 58vh;
        margin-right: 20px;
        
    }

    .text-pres {
        margin-right: 40px;
    }

    .image {
        width: 40em;
        background-size: 14em;
    }

    .btn-download {
        font-size: 20px;
    }
    

    /* --------------  section 2 --------------  */

    .section2{
    display:none;
    }

    .section2bis{
        display: flex;
        flex-direction: column;
        align-items: center;
        /* height: 69em; */
    }

    .insights-animation2 {
        width: 35em;
        height: 58em;
    }

    .bloc-experience-bis {
        margin-right: 604px;
        margin-top: 18vh;
    }


    .experience-bis {
        width: 34em;
        height:9em;
    }
    
 


    /* --------------  section 3 --------------  */

    .container{
        display: none;
    }
    
    .scroller{
        max-width: 100%;
        padding: 10px;
        display: grid;
        grid-auto-flow: column;
        column-gap: 1rem;
        overflow-x: auto;
        justify-content: start;
    }
    
    .scroller::-webkit-scrollbar{
        display: none;
    }
    
    .scroller-item{
        position:relative;
        height: 14rem;
        width: 14rem;
        border: 3px solid #151515;
        border-radius:50%;
        margin: 12px;
    }
    
    .scroller-item img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 50%;
    }


    
    .scroller-item::before{
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width:calc(100% + 15px);
        height:calc(100% + 15px);
        background-image: linear-gradient(45deg, #f09433 0%, #FFE6E6 25%, #dc2743 50%, #5C4040 75%, #bc1888 100%);
        border-radius: inherit;
        z-index: -1;
    }
    
    
    /* --------------  section 4 --------------  */

    .skills {
        margin-left: 8em;
        margin-top:0;
    }

    .skills1 {
        margin-top:0;
    }


    .bar {
        width: 330px;
        height: 25px;
    }

    .bar1 {
            width: 330px;
            height: 25px;
    }



    /* --------------  section 5 --------------  */


    .contact-bgdPink {
        width: 35em;
    }

    .section5{
        display:flex;
        flex-direction: column;
        align-items: center;
    }

    input{
        height: 4vh;
        width: 23em;
        margin-top: 10px;
        margin-bottom: 20px;
        border-radius: 5px;
        border: 0.5px solid #865F5F;
    }

    /* input:hover{
        background-color: #fff;
        color: #865F5F;

    } */

    #msg{
        height: 15vh;
        width: 23em;
        margin-top: 10px;
        margin-bottom: 50px;
        border-radius: 5px;
        border: 0.5px solid #865F5F;
    }

}

/* Responsive depuis la tablette => portfolio  */

@media screen and (max-width: 426px) {

    .div-parent{
        display: flex;
        flex-direction: row;
        height: 58vh;
    }

    .btn1{
        font-size: 0.6em;
    }

.text-pres{
    font-size:10px;
}

.text-pres, p {
    font-size:9px;
}

}